*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}
/* background: background-image || background-position [ / background-size ]? || background-repeat || background-attachment || background-origin || background-clip */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 0;
}
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* HEADER */
.main-header {
  padding: 26px 0;
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}
.main-header__logo {
  width: 176px;
  height: 56px;
}
.main-header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #443737;
}
.main-header__nav-list-item {
  margin-right: 46px;
}
.main-header__nav-list-item:last-child {
  margin-right: 0;
}
.main-header__nav-list-item-link {
  border-bottom: 3px solid transparent;
  border-radius: 1.5px;
}
.main-header__active-link {
  border-bottom: 3px solid #ffc725;
}
.main-header__cart {
  padding: 0 0 0 0;
}
.main-header__cart-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.main-header__cart-icon::after {
  content: "55";
  position: absolute;
  bottom: 5px;
  right: -5px;
  width: 17px;
  height: 17px;
  background-color: #f37335;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 17px;
}
.main-header__cart-sum {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #443737;
}

.main-banner {
  width: 100%;
  min-height: 478px;
  background: url("../img/main-banner.jpg") top center / cover no-repeat;
}
.content-box {
  width: 513px;
  min-height: 195px;
  margin: 0 auto;
  padding: 142px 0 142px 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #dedede;
  text-align: center;
}
.breadcrumbs-list__item {
  display: inline-block;
  margin-right: 16px;
}
.breadcrumbs-list__item:last-child {
  margin: 0;
}
.breadcrumbs-list__item::after {
  content: "/";
  position: relative;
  left: 7px;
}
.breadcrumbs-list__item:last-child::after {
  content: "";
}
.main-banner__title {
  margin: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 79px;
  line-height: 108px;
  color: #ffffff;
}
.main-banner__text {
  max-width: 320px;
  margin: 0 auto;
  line-height: 24px;
  color: #faf9f9;
}
