*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
/* background: background-image || background-position [ / background-size ]? || background-repeat || background-attachment || background-origin || background-clip */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 0;
}
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* HEADER */
.main-header {
  padding: 26px 0;
  border-bottom: 1px solid #dedede;
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}
.main-header__logo {
  width: 176px;
  height: 56px;
}
.main-header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #443737;
}
.main-header__nav-list-item {
  margin-right: 46px;
}
.main-header__nav-list-item:last-child {
  margin-right: 0;
}
.main-header__nav-list-item-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: transparent;
}
.main-header__nav-list-item-link:hover {
  color: #ffc725;
}
.main-header__active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: #ffc725;
}
.main-header__cart {
  padding: 0 0 0 0;
}
.main-header__cart-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.main-header__cart-icon::after {
  content: "5";
  position: absolute;
  bottom: 5px;
  right: -5px;
  width: 17px;
  height: 17px;
  background-color: #f37335;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 17px;
}
.main-header__cart-sum {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #443737;
}

.main-banner {
  width: 100%;
  min-height: 478px;
  margin: 0 0 130px 0;
  background: url("../img/main-banner.jpg") top center / cover no-repeat;
}
.content-box {
  width: 513px;
  min-height: 195px;
  margin: 0 auto;
  padding: 142px 0 142px 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #dedede;
  text-align: center;
}
.breadcrumbs-list {
  margin-left: -10px;
}
.breadcrumbs-list__item {
  display: inline-block;
  margin-right: 7px;
}
.breadcrumbs-list__item:last-child {
  margin: 0;
}
.breadcrumbs-list__item::after {
  content: "/";
  position: relative;
  left: 3px;
  pointer-events: none;
}
.breadcrumbs-list__item:last-child::after {
  content: "";
}
.content-box__breadcrumb-link:hover {
  color: #ffc725;
}
.main-banner__title {
  margin: 0 0 10px 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 79px;
  line-height: 120px;
  color: #ffffff;
}
.main-banner__text {
  max-width: 320px;
  margin: 0 auto;
  line-height: 24px;
  color: #faf9f9;
}
/* MAIN */
/* BURGERS-BANNER */
.burgers-banner {
  margin: 0 0 100px 0;
}
.burgers-banner-box {
  min-height: 438px;
  padding: 100px 0 0 100px;
  background: url("../img/burgers-banner.jpg") top center / cover no-repeat;
}
.burgers-banner-box__title span {
  display: block;
  padding: 5px 18px;
  margin: 0 0 9px 0;
  max-width: 95px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f37335;
  border-radius: 14px;
}
.burgers-banner-box__title {
  margin: 0;
  display: block;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 76px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border-radius: 0%;
}
.burgers-banner-box__text {
  max-width: 332px;
  margin: 0 0 15px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #faf9f9;
}
.burgers-banner-box__link {
  display: block;
  max-width: 170px;
  padding: 20px 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #1e2f40;
  background-color: #fbb731;
  border-radius: 5px;
}
/* SECTION BURGERS MENU */
.burgers-menu {
  margin: 0 0 100px 0;
}
.burgers-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgers-menu__title,
.addition-menu__title {
  margin: 0 0 34px 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  text-transform: uppercase;
  color: #1b2a49;
}
.burgers-menu__select {
  margin: 0 0 34px 0;
  padding: 10px 0 10px 30px;
  flex-basis: 279px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #443737;
  border: 1px solid #dedede;
  border-radius: 22px;
  appearance: none;
  background: url("../img/chevron-down.png") 95% center / 13px 8px no-repeat;
  cursor: pointer;
}
.burgers-menu__catalog,
.addition-menu__catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.burgers-menu__item-cover,
.addition-menu__item-cover {
  margin: 0 0 20px 0;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.burgers-menu__item-cover img,
.addition-menu__item-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 430px;
}
.burgers-menu__item-title,
.addition-menu__item-title {
  margin: 0 0 5px 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #1b2a49;
}
.burgers-menu__item-price,
.addition-menu__item-price {
  margin: 0 0 20px 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #979797;
}

.burgers-menu__item-btn,
.addition-menu__item-btn {
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 10px 30px 10px 52px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #1e2f40;
  background: #fbb731;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.burgers-menu__item-btn::before,
.addition-menu__item-btn::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  left: 25px;
  background: url("../img/btn-cart.svg") top center / cover no-repeat;
}
.addition-menu {
  margin: 0 0 140px 0;
}
